---
import Navbar from '../components/Navbar.astro';

interface Props {
	title?: string;
	description?: string;
}

const { title = 'Артём', description = 'Личный сайт Артёма' } = Astro.props;
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		{
			Astro.site && (
				<link
					rel="alternate"
					type="application/rss+xml"
					title={title}
					href={new URL('rss.xml', Astro.site)}
				/>
			)
		}
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	body {
		background: #FFFFF0;
	}
</style>
